@model IEnumerable<OdeToBikes.Controllers.ManufacturerModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
Showing all @Model.Count() archives.

@foreach (var item in Model)
{
    <div class="model">
        <h4>@item.Manufacturer: @item.Model</h4>
        <p>Year: @item.Year</p>
        <p>Info: @item.Info</p>

        <span class="right">
            @Html.ActionLink("Edit", "Edit", new { id = item.Id})
        </span>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

